/*-- scss:defaults --*/
$body-color: #222;
$link-color: #0b5394;
$code-block-bg: #f6f8fa;

/*-- scss:rules --*/
.callout-tip {
  border-left-color: #0b5394;
}

.chapter-status {
  background-color: rgba(0, 0, 0, 0.03);
}
